*{
    margin: 0px;
    padding: 0px;
}

.card{
    border-color: black;
    box-shadow: -7px 2px 28px -8px rgba(0,0,0,0.88);
    -webkit-box-shadow: -7px 2px 28px -8px rgba(0,0,0,0.88);
    -moz-box-shadow: -7px 2px 28px -8px rgba(0,0,0,0.88); ;
    width: 80%;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: space-between;
}

.card_left {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    padding: 10px;
    text-align: justify;
}

.card_left > h1 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 25px;
}

.card_left > p {
    color: gray;
    margin-bottom: 5px;
}

.card_right {
    display: flex;
    justify-content: center;
}
.card_right > img {
    width: 300px;
}

@media (max-width: 650px) {
    .card {
        flex-direction: column-reverse;
        height: 500px;
        justify-content:space-around;
    }

    .card_right > img {
        width: 100%;
    }

}